@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

body{
  background:#fbf8f4 url(http://css3lib.alloyteam.com/uilib/animation/CSS3TimedNotifications/images/bg.jpg) repeat;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left:20px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.search{
  text-align: center;
}
.form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width:600px;
  margin-top:20px;
  margin-bottom: 10px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.container{
   margin-left:auto;
   margin-right:auto;
   margin-left:20px;
   margin-right:20px;
}

.header{
  ul{
    height:180px;
    overflow:hidden;
    text-align: center;
    li {
      display: inline-block;
      margin:5px;
      position:relative;

      a{
        cursor:pointer;
        width: 140px;
        height: 150px;
        display:block;
        padding: 10px;
        background: #fff;
        @include box-shadow(1px 1px 2px #fff,1px 1px 2px rgba(158,111,86,0.3) inset);
        @include border-radius(4px, 4px);

        &:hover span{
          opacity: 1;
          filter: alpha(opacity=99); /* internet explorer */
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/

        }

        span{
          position: absolute;
          width: 140px;
          height: 150px;
          top: 10px;
          left: 10px;
          text-align: center;
          line-height: 150px;
          font-weight: normal;
          color: rgba(255,255,255,0.9);
          text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
          font-size: 24px;
          opacity:0;
          filter: alpha(opacity=0); /* internet explorer */
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
          background: rgba(75,75,75,0.7);
          -webkit-transition: opacity 0.3s linear;
          -moz-transition: opacity 0.3s linear;
          -o-transition: opacity 0.3s linear;
          -ms-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
        }

        img{
          width:140px;
          height:150px;
          display:block;
          border:0;
          text-align: center;
          @include border-radius(4px, 4px);
        }
      }
    }
  }

}

.content{
  padding:20px;
  text-align: center;
  a{
    padding: 10px;
    background:#fff;
    display:inline-block;
    @include border-radius(4px,4px);
    img{
      cursor:pointer;
      max-width: 1024px;
      @include border-radius(4px,4px);
    }
  }
}

.bg{
  position:absolute;
  left:0;
  top:0;
  background:#3a6682;
  z-index: 1;
  width:100%;
  height:100%;
  @include opacity(0.5);
  display:none;

}

.result{
  display: none;
  position:fixed;
  width:100%;
  left:0;
  top:0;
  z-index:2;
  .result-content{
    @include border-radius(4px 4px);
    text-align: center;
    padding:10px;
    width:60%;
    height:700px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    background-color:#fff;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);

    .close{
      background: url(../images/close.png) no-repeat;
      cursor: pointer;
      float: right;
      height:48px;
      width:48px;
      margin-right:-10px;
      margin-top:-10px;
    }
  }
}

.ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  @include animation(spin .5s infinite linear);
}

.ball1 {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: -80px;
  @include animation(spinoff .5s infinite linear);
}

.loading {
  margin-top:300px;
}

@keyframes spin {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(360deg);
  }
}

@keyframes spinoff {
  0% {
    @include rotate(0deg);
  }

  100% {
    @include rotate(360deg);
  }
}
